@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Изменение пароля";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@* <h3>@ViewData["Title"]</h3> *@
<partial name="_StatusMessage" for="StatusMessage" />
<div class="account_page_data_wrapper">
    <div class="account_page_header">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="account_page_text">В целях безопасности рекомендуется задавать пароль длиной не менее 8 символов и использовать хотя бы три из четырех категорий символов: строчные буквы, прописные буквы, цифры и специальные символы.</div>
    <div id="pass_change_form_area">
        <div class="pass_change_form">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>             
                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="pw_requirenments">
                    <div class="pw_requirenments_wrapper">
                        <ul>
                            <li>Используйте спецсимволы</li>
                            <li>Используйте более 6 символов</li>
                            <li>Используйте заглавные буквы</li>
                            <li>Используйте строчные буквы</li>
                        </ul>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>            
                @* <button type="submit" class="change_password_btn">Update password</button> *@
                <input type="submit" value="Отправить" />
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
