@* @model TrainingPlansWA.Areas.Identity.Data.UserModel *@
@model IEnumerable<TrainingPlansWA.Models.FavoritePlan>
@using TrainingPlansWA.Areas.Identity.Data
@*  @model IEnumerable<TrainingPlansWA.Data.UsersContext> *@
@{
    ViewData["Title"] = "Избранное";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--подключение gsap и др. скрит-->
    @*<script src="lib/gsap/gsap.min.js" defer></script>
    <script src="lib/gsap/ScrollTrigger.min.js" defer></script>
    <script src="lib/gsap/ScrollSmoother.min.js" defer></script>*@
    <script src="~/js/UI.js" asp-append-version="true" defer></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>

    <!--подключение jquery-->
    <script src="lib/jquery/dist/jquery.js"></script>

    <!--кнопка наверх-->
    <script>
        $(document).ready(function () {
            var btn = $('#backToTop');
            $(window).on('scroll', function () {
                if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                    btn.removeClass('show');
                }
                else {
                    if ($(window).scrollTop() > 100) {
                        btn.addClass('show');
                    } else {
                        btn.removeClass('show');
                    }
                }
            });
            btn.on('click', function (e) {
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: 0
                }, '300');
            });
            //var height = html.scrollHeight;

        });
    </script>
</head>
<body>
    <div id="backToTop" class="back-to-top">
        <i class="arrow"></i><i class="arrow"></i>
    </div>
    <div class="header_indent">
    <div class="card_section">
        <div class="card-container favorites">
            @if (Model.Count() == 0) {
                <div class="favorites_creations_are_empty">
                    <h2>В избранном пока пусто</h2>
                    <span>Перейдите в каталог, чтобы выбрать планы</span>
                    <div class="catalog_buttons_list">
                        <div class="catalog_button catalog_button_hands">Руки</div>
                        <div class="catalog_button catalog_button_legs">Ноги</div>
                        <div class="catalog_button catalog_button_circuit">Круговой</div>
                    </div>
                </div>               
            }
            else {
                @foreach (var item in Model) {
                    if (item.Category == "Hands") {
                        <div class="card">
                            <div class="card_top_image top-for-hands">
                                <div class="remove_from_favorites bx bx-x" title="Удалить из избранного" data-id=@item.Id></div>
                            </div>
                            <div class="text">
                                <ul class="list">
                                    @foreach (var Exercise in item.Exercises) {
                                        <li>@Exercise.Name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                    if (item.Category == "Legs") {
                        <div class="card">
                            <div class="card_top_image top-for-legs">
                                <div class="remove_from_favorites bx bx-x" title="Удалить из избранного" data-id=@item.Id></div>
                            </div>
                            <div class="text">
                                <ul class="list">
                                    @foreach (var Exercise in item.Exercises) {
                                        <li>@Exercise.Name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                    if (item.Category == "Circuit") {
                        <div class="card">
                            <div class="card_top_image top-for-circuit">
                                <div class="remove_from_favorites bx bx-x" title="Удалить из избранного" data-id=@item.Id></div>
                            </div>
                            <div class="text">
                                <ul class="list">
                                    @foreach (var Exercise in item.Exercises) {
                                        <li>@Exercise.Name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                }
            }
            <div class="tbody"></div>
        </div>
    </div>
    </div>
</body>
</html>